<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title> College Cafeteria </title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="home-app.css">
  <link rel="stylesheet" type="text/css" href="menu-app.css">


</head>

<body>
  <article class="CafemainPage">
    <div class="Cafe-Head">
      <p class="Cafe-Name"> College Cafeteria </p>
      <p class="Cart"> <%= link_to "Go to Cart!" , "order_items" %> </p>
      <% if @user.role == "customer" %>
        <p class="Cart"> <%= link_to " My Orders" , "users/#{@user.id}"  %> </p>
      <% end %>
    </div>
    <% if @user.role != "customer" %>
      <p class="Cart"> <%= link_to "HomePage" , "users" %> </p>
    <% end %>

    <div class="Menu-Title">
      <% @menus.each do |menu| %>
        <% if menu.active_menu %>
          <section class="Menus-List">
            <p class="Menu-Name"> <%= menu.name %> </p>
          </section>
          <div class= "Items">
            <% menu.menu_items.all.each do |item| %>
              <label class="MenuItem">
                <p class= "MenuItemName">  <%= item.name %> </p>
                <p> <img src="<%= item.image %>"  width="60" height="65"> </p>
                <p class="MenuItemDescription"> <%= item.description %></p>
                <div class="MenuButtPrice">
                  <%= form_with url: "/order_items?id=#{item.id}", method:"POST" do |form| %>
                    <%= form.submit "Add to Cart!", class: "MenuItemButton" %>
                  <% end %>
                  <p class="MenuItemprice"> Rs. <%= item.price %></p>
                </div>
              </label>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>
</body>

</html>
