<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title> College Cafeteria </title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="home-app.css">
  <link rel="stylesheet" type="text/css" href="menu-app.css">


</head>
<style>
  body {
    background-color: lightyellow;
    background-size: cover;
  }
</style>

<body>
  <article class="CafemainPage">
    <div class="Cafe-Head">
      <p class="Cart"> <a href= "/order_items"> <img src = https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRouq-PipK_Pyk0sDEEesJ6TmSuKdwm3opxIg&usqp=CAU style="width:82px; height:86px" > </a> </p>
    </div>

    <div class="Menu-Title">
      <% @menus.each do |menu| %>
        <% if menu.active_menu %>
          <p class="Menu-Name"> <%= menu.name %> </p>
          <div class= "Items">
            <% menu.menu_items.all.each do |item| %>
              <label class="MenuItem">
                <p class= "MenuItemName">  <%= item.name %> </p>
                <p class="Menu-Item-Image"> <img src="<%= item.image %>"  width="160" height="165"> </p>
                <p class="MenuItemDescription"> <%= item.description %></p>
                <div class="MenuButtPrice">
                  <%= form_with url: "/order_items?id=#{item.id}", method:"POST" do |form| %>
                    <%= form.submit "Add to Cart!", class: "MenuItemButton" %>
                  <% end %>
                  <p class="MenuItemprice"> Rs. <%= item.price %></p>
                </div>
              </label>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </article>
</body>

</html>
