<article>
  <style>
    body{
      background-color: lightblue;
    }
  </style>
  <div class = "MenuChangeTop">
    <h1>
      <%= form_with(url: "/menus",method: "POST",class: "Add-Item") do %>
        <input class="AddItem-Det" type="text" placeholder="Name of the menu" name="name">
        <input class="Add-Butt" type = "submit" value = "Add">
      <% end %>
    </h1>
  </div>
  <div class="MenusNames">
    <% Menu.all.each do |menu| %>
      <div class ="All-Menus">
        <p>
          <%= form_with(url: "/menus/#{menu.id}",method: "PUT") do %>
            <input class="Menuitem-Checkbox1" name="active_menu" type="checkbox" <%= menu.active_menu ? "checked" : "" %> onclick="this.form.submit()" >
          <%end%>
        </p>
        <p>  <%= menu.name %> </p>
        <a href ="javascript:void(0)" class ="Menu-Delete1">
          <%= form_with(url: "/menus/#{menu.id}",method: "delete") do %>
            <input type="submit" value="Delete" />
          <% end %>
        </a>
      </div>
    <% end %>
  </div>
</article>
