<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>College Cafeteria</title>
  <link rel="stylesheet" type="text/css" href="menu-app.css">

</head>
<style>
  body {
    background-color: lightyellow;
    background-size: cover;
  }
</style>

<body>

  <article class="CafemainPage">
    <p class="Cafe-Name"> College Cafeteria </p>
    <div class="Cafe-Title">
      <p class="Cafe-Menu"> Total-Items </p>
    </div>
      <%= form_with(model: @menu, url: menu_items_url, method: "post", local: true) do |form|%>
        <div class ="MenuItemAdd">
          <p> <%= form.text_field :name, placeholder:"Item name" %> </p>
          <p> <%= form.number_field :price, placeholder:"Item price" %> </p>
          <p> <%= form.text_field :description, placeholder:"Description of item" %> </p>
          <p> <%= form.text_field :image, placeholder:"image" %> </p>
          <p> <%= form.text_field :menu_name, placeholder:"Menu name" %> </p>
          <p> <input class="Add-Button" type="submit" value="add"> </p>
        </div>
      <% end %>
      <label class="MenuItem-Container">
        <p class= "MenuItem-Checkbox">  Active/In-active </p>
        <p class= "MenuItem-Name">  Name </p>
        <p class="MenuItem-Description"> Description </p>
        <p class="MenuItem-price"> Price </p>
        <p class="MenuItem-price"> Menu-Name </p>
        <p class="MenuItem-price"> Delete </p>
        <% MenuItem.all.each do |item| %>
          <%= form_with(url: "/menu_items/#{item.id}",method:"PUT") do %>
            <input class="Menuitem-Checkbox"  name ="active_menu" type="checkbox" <%= item.active ? "checked" : ""%> onclick="this.form.submit()" >
          <% end %>
          <p class= "MenuItem-Name"> <%= item.name %> </p>
          <p class="MenuItem-Description"> <%= item.description %> </p>
          <p class="MenuItem-price"> <%= item.price %> </p>
          <p class="MenuItem-price"> <% Menu.where(id: item.menu_id).name %> </p>
          <a href ="javascript:void(0)" class ="MenuItem-delete">
            <%= form_with(url: "/menu_items/#{item.id}",method: "delete") do %>
              <input type="image" src="trash-can-outline.svg" />
            <% end %>
          </a>
       <% end %>
      </label>
  </article>
</body>
