<h1> Manage Users </h1>
<p> <%= link_to " View Customers ", "/customers" %> </p>
<p> <%= link_to " View,Add and Update Clerks ", "/clerks" %> </p>

<p style= "margin-bottom: 30px; , color: orange;"> <%= link_to "create a menu or change active menu" , new_menu_path %>  </p>

<% Menu.all.each do |menu| %>
  <% if menu.active_menu %>
    <section class="Options-List">
      <%= form_with(url: "/menus/#{menu.id}",method:"PUT") do %>
        <p style= "margin-bottom: 30px; , color: blue;"> <%= link_to "Add Items " , menu_items_path %> To   <%= menu.name %> </p>
      <% end  %>
      <p style= "margin-bottom: 30px; , color: red;"> <%= link_to "check " , orders_path %> All  Orders </p>
    </section>
  <% end %>
<% end %>


<%= link_to "Order for Offline Customers", menus_path%>
