<section class ="UserOrders">
  <% if @user.orders.delivered_or_confirmed.count != 0 %>
    <% @user.orders.delivered_or_confirmed.each do |order| %>
      <div class= "UserorderDetails">
        <p style="margin-left: 20px;"> <%= order.date %> </p>
        <p style="margin-left: 20px;"> <%= @user.name %> </p>
        <p style="margin-left: 20px;"> <%= link_to "order details", order_path(id: order.id ) %> </p>
        <p style="margin-left: 20px;"> <%= order.status %>  </p>
      </div>
    <% end %>
  <% else %>
    <div class = "Empty-Orders">
      <p> oops! You have never ordered here Click and  order some delicious food </p>
      <p> <%= link_to "click here" , "/menus" %> </p>
    </div>
  <% end %>
</section>
