<!DOCTYPE html>
<html lang="en">



<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
  <title> College Cafeteria </title>
  <link rel="stylesheet" type="text/css" href="reset.css">
  <link rel="stylesheet" type="text/css" href="home-app.css">


</head>

<body>
  <style>
    body {
      background-image: url('cafe3.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>

  <article class="Cafe-Page">
    <p class="NewUsers_Title"> Sign-in! </p>
    <section class="New_User">
      <%= form_with url: sessions_path do |form| %>

        <div class="Form-section">
          <p class="FormInput-Label"> Email </p>
          <%= form.email_field :email, class: "Form-Input" %>
        </div>

        <div class="Form-section">
          <p class="FormInput-Label"> Password </p>
          <%= form.password_field :password, class: "Form-Input" %>
        </div >
        <div style="display: flex; align-items: center; align-contents: center;">
          <%= form.submit "Sign-in!", class: "Form-Submit"%>
          <p style="margin-left: 50px; margin-top: 10px; color: green;"> <%= link_to "Create account!" , new_user_path %> </p>
        <div>
      <% end %>
    </section>

  </article>
</body>

</html>
