<% Order.all.each do |order| %>
  <div class="Orders">
    <p class="Order-Id"> <%= order.id%> </p>
    <p class="Order-UserId"> <%= order.user_id%> </p>
    <p> <%= User.find(order.user_id).name %> </p>
    <p class= "Order-Date">  <%= order.date %> </p>
    <div class="Order-status">
      <%= order.status  %>
    </div>
    <%= form_with url: "/orders/#{order.id}", method:"get" do |form| %>
      <%= link_to "order details", "orders/#{order.id}" %> </p>
    <% end %>
    <%= form_with url: "/orders/#{order.id}", method:"delete" do |form| %>
      <%= form.submit "Remove item", class: "MenuItemButton" %>
    <% end %>
  </div>
<% end %>
