<section class="rders">
  <% @order.all.each do |order| %>
    <section class="Orders">
      <p>
        <%= form_with(url: "/orders/#{order.id}",method:"PUT") do %>
          <input class="Todoitem-Checkbox"  type="checkbox" <%=  order.status == "delivered" ? "checked" : "" %> onclick="this.form.submit()" >
        <%end%>
      </p>
      <p class="Order-Id"> <%= order.id%> </p>
      <p class="Order-UserId" > <%= order.user_id%> </p>
      <p>
        <% if User.find(order.user_id).role == "customer" %>
          <%= User.find(order.user_id).name %>
        <% else %>
          Walk-in Customer
        <% end %>
      </p>
      <p >  <%= order.date %> </p>
      <p>
        <%= order.status  %>
      </p>
      <p>
        <%= form_with url: "/orders/#{order.id}", method:"get" do |form| %>
          <%= link_to "order details", "orders/#{order.id}" %> </p>
        <% end %>
      </p>
      <p>
        <%= form_with url: "/orders/#{order.id}", method:"delete" do |form| %>
          <%= form.submit "Remove item", class: "MenuItemButton" %>
        <% end %>
      </p>
    </section>
  <% end %>
</section>
