<style>
  body {
    background-image: url('about-img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
</style>
<div class ="Cart-Items ">
  <div class ="OrderItemDetails">
    <p> Item Name </p>
    <p> Quantity </p>
    <p> Net-Item </p>
    <% @specific_order.all_items.uniq.each do |item|  %>
      <p> <%= item %> </p>
      <p> <%= @specific_order.all_items.count(item) %> </p>
      <p> Rs. <%= @specific_order.order_items.price(item) * @specific_order.all_items.count(item) %> </p>
    <% end %>
  </div>
  <div class= "Total">
    <p> Total </p>
    <p> Rs. <%= @specific_order.total %> </p>
  </div >
  <div class= " Order-Status">
    <h3> Order Status: </h3>
    <p class =" status-display"> <%= @specific_order.status %> At <%= @specific_order.updated_at %> </p>
  </div>
  <h3 class ="Home-Link">
    <%= link_to "Go Back to Home page", "/menus"%>
  </h3>
</div>
