<section>
  <p> search for the customer </p>
  <%= form_with(url: "/reports",method: "POST",class: "Get-Details") do %>
    <%= form.date_field :@beg_date, class: "Form-Input" %>
    <%= form.date_field :@end_date, class: "Form-Input" %>
    <%= form.submit "Sign-in!", class: "Form-Submit"%>
  <% end %>
  <%= form_with(url: "/reports",method: "POST",class: "Get-Details") do %>
    <input class= "AddTodo-button" type= "text" placeholder= "enter email-id" value= "email">
    <input class="AddTodo-button" type="submit" value="check">
  <% end %>
</section>
