
<!DOCTYPE html>
<html>
  <head>
    <title> Cafeteria Management </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class = "All-header"> College Cafeteria  </h1>
      <p class="Sub-header"> The place to share your happiness </p>

      <% if @current_user %>
          <% if @current_user.role == "admin" %>
            <div class ="Header-Grid">
              <% if URI(request.referer).path != "/" %>
                <%= link_to "HomePage" , users_path %>
              <% end %>
              <%= button_to "Sign-Out", destroy_session_path, method: "delete"%>
            </div>
          <% elsif @current_user.role == "customer"%>
            <div class ="Header-Grid">
              <%= link_to " My Orders" , "users/#{@current_user.id}"  %>
              <%= button_to "Sign-Out", destroy_session_path, method: "delete"%>
            </div>
          <% end %>
          <hr style="width:100%; text-align:center; margin-left:0; color:red">
      <% end %>

    </header>

    <% if flash[:error] %>
      <p class="Flash-Error">
        <%= flash[:error] %>
      </p>
    <% end %>


    <%= yield %>

  </body>
</html>
